<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Detail view</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ todo_list_detail.name }}</h1>
                <div>
                    <p>
                        <a href="{% url 'todo_list_update' todo_list_detail.id %}">
                            Edit</a>
                    </p>
                    <p>
                        <a href="{% url 'todo_list_delete' todo_list_detail.id %}">
                            Delete</a>
                    </p>
                </div>
                <h2>Tasks</h2>
                <table>
                    <thread>
                        <th>Task</th>
                        <th>Due date</th>
                    </thread>
                    <tbody>
                        {% for item in todo_list_detail.items.all %}
                        <tr>
                            <td><a href="{% url 'todo_item_update' item.id %}">
                            {{ item.task }}
                            </a></td>

                            <td>{{ item.due_date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
