<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Title of the Document
        </title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <div>
                    <p>
                        <a href="{% url 'todo_list_create' %}">Create a new list</a>
                    </p>
                    <p>
                        <a href="{% url 'todo_item_create' %}">Create a new item</a>
                    </p>
                </div>
                <table>
                    <thread>
                        <th>Name</th>
                        <th>Number of items</th>
                    </thread>
                    <tbody>
                        {% for index in TodoList %}
                        <tr>
                            <td><a href="{% url 'todo_list_detail' index.id %}">{{ index.name }}</a></td>
                            <td>{{ index.items.count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
